
    <nav class="nav justify-content-center">
        <a class="nav-link" href="{{url_for('main.view_velcome_page')}}">Home</a>
        <a class="nav-link" href="{{url_for('main.view_about_page')}}">About</a>
        <a class="nav-link" href="{{url_for('blog.view_articles_page')}}">Articles</a>
        <a class="nav-link" href="{{url_for('admin.view_admin_page')}}">Admin</a>
        {% if "logged" in session %}
        <form method="post" action="{{url_for('admin.logout_user')}}">
            <input type="submit" name="logout" value="logout">
        </form>
        {% endif %}
    </nav>
    