<!doctype html>
<html lang="en">

    {% include "layout/_head.jinja" %}

  {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes">
      {% for category, message in messages  %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  
  <body>

    <header>
        <h1 class="text-center">Welcome to blog website</h1>
    </header>
  
    {% include "layout/_nav.jinja" %}

    <main>
        {% block main %}
        
        {% endblock %}
    </main>
 
    <footer>
        (c) Martin Baliak
    </footer>
      
      {% include "layout/_foot.jinja" %}
   
  </body>
</html>