<!doctype html>
<html lang="en">

    {% include "layout/_head.jinja" %}
    
  <body>

    <header>
        <h1 class="text-center">Welcome to blog website</h1>
    </header>
  
    {% include "layout/_nav.jinja" %}

    <main>
        {% block main %}
        
        {% endblock %}
    </main>
 
    <footer>
        (c) Martin Baliak
    </footer>
      
      {% include "layout/_foot.jinja" %}
   
  </body>
</html>